allobsbyposition.txt.bak
change_recpar_value.csh
check_rawi.csh
cohrs_mosaic_strip1_R2.csh.debug
cohrs_run2017
cohrs_run2019
cohrs_smalltiles.pl
cohrs_talltiles_R2_temp.pl
cohrs_tiles_R2_some.pl
cohrs_tiles_R2_some.pl.*
crudemode.csh
extract_flats.csh
ffextract.csh
flat_summary
flat_summary_cleaned
flatap
flip_third_axis.csh
insert_recpar.csh
newvoxelsum.csh
no_overlap.csh
pixelsum.csh
rawi_check.lis
rename_logs_correction
refspec_correction
sbinventory
validate.csh
voxelsum.csh
restore_xterm*
rs_*something*
*something_redo*
*something*bo1
.history*
.oracenv
